/* 
HTML styling
Overview: 
  Background image: Covers whole background
*/
html {
  background-image: url("assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  size: 100vw;
  size: 100vh;
  font-family: "Roboto Condensed", sans-serif;
}