/*
.inline styling
Overview:
    Solid rounded border, uniform width, uniform height
*/
.inline {
    border-style: solid;
    border-radius: 6px;
    background-color: #ffffff;
    width: 25%;
    height: 1.5rem;
}