/*
* Menu Styling
*/

/*
.MenuElement styling
Overview:
    Solid black rounded border, lighter grey
    background color, slight padding on the 
    right to ensure even spacing
*/
.MenuElement {
    display: inline-block;
    text-align: center;
    padding: 0.5rem;
    width: 25%;
    margin: auto;
    margin-top: 30px;
    margin-right: 1%;
    margin-bottom: 0.35rem;
    border-radius: 6px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    aspect-ratio: 10/1;
    cursor: pointer;
}

/*
.Title styling
Overview:
    Text in center, small border below
*/
.Title {
    text-align: center;
    margin-bottom: -1.5rem;
}

/*
.MenuBackground styling
Overview:
    Light grey background, solid black rounded border
*/
.MenuBackground {
    text-align: center;
    padding: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    background-color: #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

/*
.MenuContainer styling
Overview:
    Aligned in center, margin left to
    offset extra margin right from 
    .MenuElement
*/
.MenuContainer {
    text-align: center;
    margin-left: 1%;
}